/json/export-2023-03-28.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-06-09.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-06-22.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-06-28.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-08-04.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-08-27.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-08-28.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-09-11.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-09-21.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-09-24.json filter=lfs diff=lfs merge=binary -text
/json/export-2023-11-08.json filter=lfs diff=lfs merge=binary -text
/xml/export-2023-11-08.xml filter=lfs diff=lfs merge=binary -text
*.xml filter=lfs diff=lfs merge=binary -text
*.json filter=lfs diff=lfs merge=binary -text
